.faq{
    max-width: 1240px;
    width: 100%;
    margin: auto;
    padding:5rem 0;
    position: relative;
    .heading {
        text-align: center;
        padding: 1rem 0;

        h2 {
            font-size: 2.125rem;
            color: $primary_white;
        }

        .underline {
            position: relative;
            display: inline-block;

            img {
                position: absolute;
                top: -1.75rem;
                left: -1rem;
            }
        }
    }
    .content{
        display: flex;
        flex-direction: column;
        width: 70%;
        margin: auto;
        .question{
            display: flex;
            flex-direction: column;
            header{
                display: flex;
                justify-content: space-between;
                align-items: center;
                background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.12) 100%);
                box-shadow: 0px 2.77507px 16.6504px -0.693767px rgba(0, 0, 0, 0.2);
                backdrop-filter: blur(27.7507px);
                border: 1.25px solid;
                backdrop-filter: blur(27.7507px);
                border-image-source: $gradient_color;
                border-image-slice: 1;
                padding: 1rem 2rem;
                column-gap: 1rem;
                margin-top: 1.25rem;
                &:hover{
                    background: linear-gradient(180deg, rgba(255, 255, 255, 0.06) 0%, rgba(255, 255, 255, 0.03) 100%);
                    box-shadow: 0px 2.77507px 16.6504px -0.693767px rgba(0, 0, 0, 0.2);
                    backdrop-filter: blur(27.7507px);
                }

                h4{
                    font-family: 'Jaldi', sans-serif;
                    font-size: 1.25rem;
                    color: $primary_white;
                    font-weight: 400;
                }
                span{
                    cursor: pointer;
                    padding: 0.25rem 0.3rem 0.1rem;
                    color: $primary_white;
                }
            }
            p{
                font-family: 'Jaldi', sans-serif;
                color: $primary_blue;
                font-size: 1.25rem;
                letter-spacing: 0.025rem;
                padding: 1.5rem 2rem;
                background: linear-gradient(180deg, rgba(255, 255, 255, 0.06) 0%, rgba(255, 255, 255, 0.01) 100%);
                box-shadow: 0px 2.77507px 16.6504px -0.693767px rgba(0, 0, 0, 0.2);
                border: 1.25px solid;
                backdrop-filter: blur(27.7507px);
                border-image-source: $gradient_color;
                border-image-slice: 1;
            }
        }
    }

    .bg_img{
        &:after{
            content: "";
            position: absolute;
            width: 150px;
            height: 150px;
            background: rgba(235, 71, 77, 0.124);
            box-shadow: inset 31.3874px -31.3874px 31.3874px rgba(179, 54, 59, 0.124), inset -31.3874px 31.3874px 31.3874px rgba(255, 255, 255, 0.124);
            backdrop-filter: blur(188.324px);
            border-radius: 50%;
            bottom: 5rem;
            right: 15rem;
            z-index: -1;
      }
      &:before{
        content: "";
            position: absolute;
            width: 55px;
            height: 55px;
            background: #5AD3BE;
            box-shadow: -5.31579px 0px 7.97368px rgba(255, 255, 255, 0.1), 5.31579px 0px 6.91053px rgba(255, 255, 255, 0.1), inset -5.31579px 1.59474px 5.84737px #18BB9F, inset 5.31579px 1.59474px 5.84737px #02A78A;
            border-radius: 50%;
            top: 21rem;
            left: 10rem;
            z-index: -1;
        }
    }
}